body {
    margin: 0;
    padding: 0;
}

#wrapper {
    width: 100w;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr;
    background-color: #1F2937;
    color: white;
}

#header {
    display: flex;
    flex-direction: column;
    margin-left: 50px;
    margin-top: 70px;

    
    
}

#title {
    font-family: Karla;
    font-size: max(5vw, 50px);
    font-weight: 800;
    text-align: left;
    line-height: 9vh;
    margin-bottom: 0;
}

#title-span {
    color: #10B981;
}

#text {
    margin: 0px 75px 0px 0px;
    color: #D5D4D8;
    font-family: Inter;
    font-size: max(2vw, 20px);
    font-weight: 400;
    line-height: 28px;
    text-align: left;

    
}

#generate-btn {
    width: 191px;
    height: 42px;
    border-radius: 6px;
    padding: 9px, 17px, 9px, 15px;
    background-color: #10B981;
    color: white;
    margin: 50px 20px 0px 50px;
    border: none;
}

#generate-btn:hover {
    cursor: pointer;
}

#line {
    border-bottom: 1px solid #2F3E53;
    width: 82vw;
    align-self: center;
    justify-self: center;
    margin-top: 50px;
}

#password-divs {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    margin-top: 50px;
    margin-bottom: 50px;
    color: #55F991;
    
}

#first-password-div,
#second-password-div  {
    display: grid;
    width: 35vw;
    height: 39px;
    border: none;
    background-color: #273549;
    justify-content: center;
    align-content: center;
    font-family: Inter;
    font-size: 2vw;
    font-weight: 500;
    border-radius: 6px;

}

#body {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

form {
    display: grid;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    color: #55F991;
    
}

#password-length {
    width: 50px;
    height: 20px;
    border: none;
    border-radius: 10px;
    margin-left: 35px;
}



